# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/
ENV/
venv/

# Ignore VS Code settings
.vscode/

# Ignore SonarQube analysis files
.sonarqube/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore JSON data files
items.json
